body {
    padding: 0;
    margin: 0;
/* filter: blur(5px); */
  }


  #contain.blur{
    filter: blur(3px);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 300;
    /* line-height: ; */
    color: inherit;
  }
  .welcome-h1 {
    color: rgb(31, 31, 31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
    /* line-height: 0rem; */
    text-align: center;

  }
  .btn-section {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    gap: 30px;
  }
  
  .btn-section a > button {
    background: transparent;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    padding: 12px 16px;
    border: 1px solid rgb(31, 31, 31);
    color: rgb(31, 31, 31);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    border: 1px solid rgb(31, 31, 31);
    color: rgb(31, 31, 31);
  }
  .btn-section > a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-section .a:hover,
  .a:focus,
  .a:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .btn-section button > img {
    width: 28px;
    font-size: 1rem;
    padding: 0px 5px;
  }
  
  .button:active {
    background-color: aqua;
  }
  button {
    cursor: pointer;
  }
  
  hr {
    margin: 24px 0px;
  }
  input,
  label {
    font-family: inherit;
    font-weight: 350;
    line-height: 1.1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.5rem;
    line-height: 2rem;
  
    border-radius: 5px;
  }
  input[placeholder] {
    font-size: 12px;
    padding-left: 10px;
    line-height: 22px;
    color: #0f1114;
    font-weight: 400;
  }
  input {
    border: 1px solid rgb(9, 81, 196);
    height: 2.5rem;
    width: 24rem;
  }
  a {
    background: transparent;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #2a73cc;
    cursor: pointer;
    display: inline;
    font-size: inherit;
    padding: 0px;
    transition: color 250ms ease-out;
    text-decoration: underline;
  }
  
  #forgot-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #2a73cc;
    text-decoration: underline;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
    color: #0f1114;
    line-height: 20px;
  }
  #login-btn {
    display: flex;
    justify-content: center;
  }
  .login-btn {
    background: rgb(0, 86, 210);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    transition: background-color 250ms ease-out, box-shadow 250ms ease-out,
      color 250ms ease-out;
    color: rgb(255, 255, 255);
    padding: 12px 32px;
    width: 25rem;
  }
  
  #form {
    display: flex;
    justify-content: center;
  }
  
  .forgot-link {
    display: flex;
    justify-content: center;
  }
  
  #sign-up {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 21px;
    size: 14px;
    color: #373a3c;
  }
  #login-footer {
    display: block;
    justify-items: center;
    justify-content: center;
    text-align: center;
  }
  #login-footer p span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    color: #616161;
  }
  #sign-up,
  #log-2 {
    display: flex;
    justify-content: center;
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  

  .signUp-Para{
    align-items: center;
    display: flex; 
justify-content: center;
    text-align: center;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .signUp-Para p span{
    font-weight: 400;
    font-size: 14px;
    color: #373a3c;
    line-height: 21px;
  }

  #signUp-container{
    margin-top:0px;
    padding-top:0px;
    display: flex;
   justify-content: center;
  }



/* sign up page */

  .overlay {
    width: 100%;
    position: fixed;
    top: 0%;
    background: transparent;
  
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    filter: blur(50px);
  }

  .loginform {
    width: 500px;
    padding: 20px 20px;
    background-color: white;
    position: absolute;
    transition: 2s;
    left: 50%;
    z-index: 9;
    top: -100%;
    box-shadow: 0 0 10px 3px #ccc;
    border-radius: 10px;
    transform: translate(-50%, -50%);

  }

  .showloginform {
    top: 50%;
  }

  .showoverlay {
    opacity: 1;
    z-index: -1;
  }

 #myspan {
    position: absolute;
    font-size: 2rem;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 30px;
    text-align: center;
    color:RGB(0, 86, 210);
    /* background-color: rgb(227, 234, 240); */
    border-radius: 1rem;
    line-height: 30px;
    cursor: pointer;
  }

  /* @media(max-width:768px){
    .overlay {
      width: 100%;
      position: fixed;
      top: 0%;
      background: rgba(0, 0, 0, 0.5);
      height: 100vh;
      z-index: -1;
      opacity: 0;
      transition: 1s;
    }
    
  .showloginform {
    top: 50%;
  }

  .showoverlay {
    opacity: 1;
    z-index: -1;
  }
    .loginform {
      width: 400px;
      padding: 20px 20px;
      background-color: white;
      position: absolute;
      transition: 2s;
      left: 50%;
      z-index: 9;
      top: 50%;
      box-shadow: 0 0 10px 3px #ccc;
      transform: translate(-50%, -50%);
  
    }
    #myspan {
      position: absolute;
      font-size: 2rem;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 30px;
      text-align: center;
      color:RGB(0, 86, 210);
      border-radius: 1rem;
      line-height: 30px;
      cursor: pointer;
    }
  } */